# Basic computing
Let's get started with the basics. Some mathematical operations,

In [1]:
1 + 2       # adding integers

3

In [2]:
1.0 + 2.0   # adding floats

3.0

In [3]:
2 / 4       # standard division

0.5

In [4]:
div(2, 4)   # Computes 2/4 truncated to an integer
2 ÷ 4

0

In [5]:
div(2.0, 4.0)

0.0

In [6]:
7 % 3       # get the remainder of the integer division

1

In [7]:
35 \ 7      # inverse division

0.2

In [8]:
1 // 3      # fractions

1//3

In [9]:
1//2 + 1//4

3//4

In [10]:
'c'        # characters (unicode)

'c': ASCII/Unicode U+0063 (category Ll: Letter, lowercase)

In [11]:
:symbol    # symbols, mostly used for macros

:symbol

variable assignment,

In [12]:
x = 2

2

In [13]:
τ = 1 / 37  # unicode variable names are allowed

0.02702702702702703

unicode! In most Julia editing environments, unicode math symbols can be typed when starting with a '\\' and hitting [TAB].

In [18]:
τ

2

In [20]:
α = 3

3

Operators are overrated.

In [21]:
5x         # This works

10

But strings are quite essential,

In [22]:
mystery = "life, the universe and everything"

"life, the universe and everything"

and string interpolation is performed with `$`.

In [23]:
println("The answer to $mystery is $(3*2*7)")

The answer to life, the universe and everything is 42

repetitions of strings can be done using the operators `*` and `^`.
This use of `*` and `^` makes sense by analogy with multiplication and exponentiation. Just as `4^3` is equivalent to `4*4*4`, we expect `"Spam"^3` to be the same as `"Spam"*"Spam"*"Spam"`, and it is.

In [24]:
breakfast = "eggs"
abetterbreakfast = "SPAM"
println(breakfast * abetterbreakfast)
println(breakfast * abetterbreakfast^3 * breakfast)

eggsSPAM
eggsSPAMSPAMSPAMeggs

Lots of handy ´String`-operations are available in the standard library of Julia:

In [25]:
uppercase("This feels like shouting.")

"THIS FEELS LIKE SHOUTING."

In [26]:
findfirst("a", "banana")

2:2

In [27]:
findfirst("na", "banana")

3:4

In [28]:
findnext("na", "banana", 4)

5:6

Unlike `Strings´, a `Char` value represents a single character and is surrounded by single quotes.

In [29]:
'x'

'x': ASCII/Unicode U+0078 (category Ll: Letter, lowercase)

The operator `∈` (\in TAB) is a boolean operator that takes a character and a string and returns true if the first appears in the second:

In [30]:
'a' ∈ "banana"

true

> **Question**: Check the behaviour of the relational operators on strings.

In [31]:
'a' ∈ "ahmed"

true

In [32]:
"apples" == "pears"

false

In [33]:
"apples" < "pears"

true

In [34]:
"apples" < "Pears"

false

All binary arithmetic and bitwise operators have an updating version that assigns the result of the operation back into the left operand. The updating version of the binary operator is formed by placing a, `=`, immediately after the operator.

In [35]:
x += 2  # inplace update of x
x += 2  # inplace update of x

6

Similarly to Matlab, when using the REPL, Julia will print the result of every statement by default. To suppress this behavious, just end the statement with a semicolon.

In [36]:
a = 10;  # not printed

In [37]:
a = 20

20

# Boolean operators
From zero to one.

In [38]:
# Boolean operators
!true

false

In [39]:
!false

true

In [40]:
1 == 1

true

In [41]:
2 == 1

false

In [42]:
1 != 1

false

In [43]:
2 != 1

true

In [44]:
1 < 10

true

In [45]:
1 > 10

false

In [46]:
2 <= 2

true

In [47]:
2 >= 2

true

In [48]:
# Comparisons can be chained
1 < 2 < 3

true

In [49]:
2 < 3 < 2

false

In [50]:
# Logical operators
true && true
true || false

true

Likewise, we have the Boolean logic operators `&&` (AND), `||` (OR) and `⊻` (XOR, exclusive or).

In [51]:
true && true

true

In [52]:
true && false

false

In [53]:
true || false

true

In [54]:
false || false

false

In [55]:
true ⊻ false

true

In [56]:
true ⊻ true

false

> **Question**: predict the outcomes of the following statements.

In [57]:
x, y = true, false

(x || y) && !(y || y)

true

In [58]:
(x ⊻ y) && (!x ⊻ !y)

true

In [59]:
(x || y) ⊻ (x && y)

true

# Control flow
The `if`, `else`, `elseif`-statement is instrumental to any programming language,

In [60]:
if 4 > 3
  println("A")
elseif 3 > 4
  println("B")
else
  println("C")
end

A

Julia allows for some very condense control flow structures.

In [62]:
y = condition ? valueiftrue : valueiffalse

LoadError: UndefVarError: condition not defined

> **Assignment** Complete the clip function: $\max(0, \min(1, x))$ for a given $x$, without making use of the functions `min` and `max`.

In [ ]:
x = 2.0

clip(x) = ...

# Looping

In [63]:
characters = ["Harry", "Ron", "Hermione"]

for char in characters
  println("Character $char")
end

for (i, char) in enumerate(characters)
  println("$i. $char")
end

pets = ["Hedwig", "Pig", "Crookhanks"]

for (char, pet) in zip(characters, pets)
  println("$char has $pet as a pet")
end

Character Harry
Character Ron
Character Hermione
1. Harry
2. Ron
3. Hermione
Harry has Hedwig as a pet
Ron has Pig as a pet
Hermione has Crookhanks as a pet

Strings can also be looped

In [64]:
getme = "a shrubbery"

for letter ∈ getme
  println("$letter")
end

a

s
h
r
u
b
b
e
r
y

In [65]:
n = 1675767616;

while n > 1
  println(n)
  if n % 2 == 0
    global n = div(n, 2)
  else
    global n = 3n + 1
  end
end

1675767616
837883808
418941904
209470952
104735476
52367738
26183869
78551608
39275804
19637902
9818951
29456854
14728427
44185282
22092641
66277924
33138962
16569481
49708444
24854222
12427111
37281334
18640667
55922002
27961001
83883004
41941502
20970751
62912254
31456127
94368382
47184191
141552574
70776287
212328862
106164431
318493294
159246647
477739942
238869971
716609914
358304957
1074914872
537457436
268728718
134364359
403093078
201546539
604639618
302319809
906959428
453479714
226739857
680219572
340109786
170054893
510164680
255082340
127541170
63770585
191311756
95655878
47827939
143483818
71741909
215225728
107612864
53806432
26903216
13451608
6725804
3362902
1681451
5044354
2522177
7566532
3783266
1891633
5674900
2837450
1418725
4256176
2128088
1064044
532022
266011
798034
399017
1197052
598526
299263
897790
448895
1346686
673343
2020030
1010015
3030046
1515023
4545070
2272535
6817606
3408803
10226410
5113205
15339616
7669808
3834904
1917452
958726
479363
1438090
719045
2157136
1078568
539284
269642
134821
404464
202232
101116
50558
25279
75838
37919
113758
56879
170638
85319
255958
127979
383938
191969
575908
287954
143977
431932
215966
107983
323950
161975
485926
242963
728890
364445
1093336
546668
273334
136667
410002
205001
615004
307502
153751
461254
230627
691882
345941
1037824
518912
259456
129728
64864
32432
16216
8108
4054
2027
6082
3041
9124
4562
2281
6844
3422
1711
5134
2567
7702
3851
11554
5777
17332
8666
4333
13000
6500
3250
1625
4876
2438
1219
3658
1829
5488
2744
1372
686
343
1030
515
1546
773
2320
1160
580
290
145
436
218
109
328
164
82
41
124
62
31
94
47
142
71
214
107
322
161
484
242
121
364
182
91
274
137
412
206
103
310
155
466
233
700
350
175
526
263
790
395
1186
593
1780
890
445
1336
668
334
167
502
251
754
377
1132
566
283
850
425
1276
638
319
958
479
1438
719
2158
1079
3238
1619
4858
2429
7288
3644
1822
911
2734
1367
4102
2051
6154
3077
9232
4616
2308
1154
577
1732
866
433
1300
650
325
976
488
244
122
61
184
92
46
23
70
35
106
53
160
80
40
20
10
5
16
8
4
2

(Note: [they got closer to cracking this one](https://www.quantamagazine.org/mathematician-terence-tao-and-the-collatz-conjecture-20191211/?mc_cid=a3adbffb9f&mc_eid=41ed2fca13).)

# Functions
Julia puts the fun in functions. User-defined functions can be declared as follows,

In [66]:
function square(x)
  result = x * x
  return result
end

square (generic function with 1 method)

In [67]:
square(2)

4

In [68]:
square(2.0)

4.0

In [69]:
square("ni")   # the multiplication of strings is defined as a concatenation

"nini"

A more condensed version of of `square(x)`.

In [70]:
s(x) = x * x

s (generic function with 1 method)

Passing an array to a function that takes a single element as argument takes a special syntax. By putting a `.` before the brackets, the function is executed on all the elements of the Array. More on this in **Part2: collections**.

In [71]:
s([1, 2, 3, 4, 5])   # Multiplication is not defined for Arrays

LoadError: MethodError: no method matching *(::Array{Int64,1}, ::Array{Int64,1})
Closest candidates are:
  *(::Any, ::Any, !Matched::Any, !Matched::Any...) at operators.jl:538
  *(!Matched::LinearAlgebra.Adjoint{var"#s826",var"#s8261"} where var"#s8261"<:(AbstractArray{T,1} where T) where var"#s826"<:Number, ::AbstractArray{var"#s825",1} where var"#s825"<:Number) at D:\buildbot\worker\package_win64\build\usr\share\julia\stdlib\v1.5\LinearAlgebra\src\adjtrans.jl:283
  *(!Matched::LinearAlgebra.Transpose{T,var"#s826"} where var"#s826"<:(AbstractArray{T,1} where T), ::AbstractArray{T,1}) where T<:Real at D:\buildbot\worker\package_win64\build\usr\share\julia\stdlib\v1.5\LinearAlgebra\src\adjtrans.jl:284
  ...

In [72]:
s.([1, 2, 3, 4, 5])  # This is an elements-wise execution of s()

5-element Array{Int64,1}:
  1
  4
  9
 16
 25

Keyword arguments are defined using a semicolon in the back signature and a default value can be assigned. "Keywords" assigned before the semicolon are default values but their keywords are not ignored.

In [73]:
safelog(x, offset=0.1; base=10) = log(x + offset) / log(base)

safelog (generic function with 2 methods)

In [74]:
safelog(0)

-0.9999999999999998

In [75]:
safelog(0, 0.01)

-1.9999999999999996

In [76]:
safelog(0, 0.01, base=2)

-6.643856189774724

When functions have a variable number of arguments, one can use the *slurping* `...` operator to denote a variable number of arguments. The argument will be treated as a collection. For example

In [77]:
function mymean(X...)
  m = zero(first(X))  # ensures to be the same type as x
  # m = 0.0  # alternative that is less tidy
  for x in X
    m += x
  end
  return m / length(X)
end

mymean(1, 3, 5)

3.0

In [78]:
mymean(1, 3, 5, 7)

4.0

Similarly, the *splatting* operator can be used to split a collection into its individual elements.

In [79]:
c = [1.0, 3.0, 5.0];

mymean(c...)

3.0

When unsure of what a function does, the documentation can be viewed by adding a "?" in front of the function.

In [80]:
# type ?sort and hit <ENTER>

For a lot of standard Julia functions a in-place version is defined. In-place means that the function changes one of the input arguments of the function. As an example, `sort()` sorts and returns the array passed as argument, it does not change the original array. In contrast, `sort!()` is the inplace version of sort and directly sorts the array passed as argument.

In [81]:
my_unsorted_list = [4, 5, 9, 7, 1, 9]

sort(my_unsorted_list)

6-element Array{Int64,1}:
 1
 4
 5
 7
 9
 9

In [82]:
my_unsorted_list

6-element Array{Int64,1}:
 4
 5
 9
 7
 1
 9

In [83]:
sort!(my_unsorted_list)

my_unsorted_list

6-element Array{Int64,1}:
 1
 4
 5
 7
 9
 9

Specific functions can be generated if you have more information on the input type.
This is called multiple dispatch.

The `::` operator attaches type annotations to expressions and variables.

How does the documentation for the function square look like after you executed the cell below?

In [90]:
function square(x::Float64)
  println("using function with floats")
  result = x * x
  return result
end

println(square(4))
println(square(4.))

16
using function with floats
16.0

In [91]:
println(square(4))

16

In [93]:
printlin(square(4.0))

using function with floats

LoadError: UndefVarError: printlin not defined

More about types in the next section !

# Macros
Macros provide a method to include generated code in the final body of a program. It is a way of generating a new output expression, given an unevaluated input expression. When your Julia program runs, it first parses and evaluates the macro, and the processed code produced by the macro is eventually evaluated like an ordinary expression.

Some nifty basic macros are `@time` and `@show`. `@time` prints the cpu time and memory allocations of an expression.

In [94]:
@time square(10)

  0.000000 seconds

100

The `@show` macro is often useful for debugging purposes. It displays both the expression to be evaluated and its result, finally returning the value of the result.

In [95]:
@show 1 + 1

1 + 1 = 2

2

# Plotting
Quite essential for scientific programming is the visualisation of the results. `Plots` is the Julia package that handles a lot of the visualisation. `rand(10)`, returns an array of 10 random floats between 0 and 1.

In [ ]:
using Plots

plot(1:10, rand(10), label="first")
plot!(1:10, rand(10), label="second") # adding to current figure using plot!

scatter!([1:10], randn(10), label="scatter")

xlabel!("x")
ylabel!("f(x)")
title!("My pretty Julia plot")

┌ Info: Precompiling Plots [91a5bcdd-55d7-5caf-9e0b-520d859cae80]
└ @ Base loading.jl:1278

In [ ]:
# notice the use of a symbol as an argument !
plot(0:0.1:10, x -> sin(x) / x, xlabel="x", ylabel="sin(x)/x", color=:red, marker=:square, legend=:none)

In [ ]:
contour(-5:0.1:5, -10:0.1:10, (x, y) -> 3x^2-4y^2 + x*y/6)

# Exercises

## 1

Write a function named `rightjustify` that takes a string named `s` as a parameter and prints the string with enough leading spaces so that the last letter of the string is in column 70 of the display.

Use string concatenation and repetition. Also, Julia provides a built-in function called `length`. Check what it does!

In [ ]:
function rightjustify()
end

## 2

1. Write a function `printgrid` that draws a grid like the following:

In [ ]:
+ - - - - + - - - - +
|         |         |
|         |         |
|         |         |
|         |         |
+ - - - - + - - - - +
|         |         |
|         |         |
|         |         |
|         |         |
+ - - - - + - - - - +

2. Write a function that draws a similar grid with four rows and four columns.

Tips:

To print more than one value on a line, you can print a comma-separated sequence of values:

`println("+", "-")`

The function `print` does not advance to the next line.

In [ ]:
function printgrid()
end

## 3

The function `time` returns the current Greenwich Mean Time in seconds since "the epoch", which is an arbitrary time used as a reference point. On UNIX systems, the epoch is 1 January 1970.
Write a script that reads the current time and converts it to a time of day in hours, minutes, and seconds, plus the number of days since the epoch.

## 4

Fermat’s Last Theorem says that there are no positive integers $a$, $b$, and $c$ such that

$a^n + b^n = c^n$

for any value of $n$ greater than 2.

1. Write a function named `checkfermat` that takes four parameters ($a$, $b$, $c$ and $n$) and checks to see if Fermat’s theorem holds. If $n$ is greater than 2 and $a^n + b^n == c^n$ the program should print, "Holy smokes, Fermat was wrong!" Otherwise the program should print, "No, that doesn’t work."

2. Write a function that prompts the user to input values for $a$, $b$, $c$ and $n$, converts them to integers, and uses checkfermat to check whether they violate Fermat’s theorem. Tip: check the functions `readline` and `parse`

3. Can you write the code so that the functions in 4.1 and 4.2 have the same name?